<header class="header">{{ title }}</header>

<div class="grid">
  <div class="cell"
       *ngFor="let letter of gridLetters; let i = index"
       [ngClass]="gridColors[i]"
       [attr.data-row]="Math.floor(i / cols)"
       [attr.data-col]="i % cols">
    {{ letter }}
  </div>
</div>

<div class="reset">
  <button (click)="reset()">new game</button>
</div>

<div class="bot">
  <button (click)="toggleCheats()">TOGGLE CHEATS</button>
</div>

<label class="bestWord">
  {{ botSuggestion }}
</label>

<app-keyboard [keyStatusMap]="keyStatusMap"></app-keyboard>

